<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal">
		    <fieldset>
		    	<legend>Message setup</legend>
			    <div class="form-group">
			        <label for="username-input" class="col-md-3 control-label">Type your username</label>
			        <div class="col-md-7">
			        	<input type="text" class="form-control" id="username-input" placeholder="Username">
			        </div>
		        </div>
			    <div class="form-group">
			        <label for="chat-message-input" class="col-md-3 control-label">Message</label>
			        <div class="col-md-7">
			        	<input type="text" class="form-control" id="chat-message-input" placeholder="Message">
			        </div>
			    </div>
			    <div class="form-group">
		            <div class="col-lg-10 col-lg-offset-2">
		                <button class="btn btn-primary" id="send-msg">Submit</button>
		            </div>
		        </div>
		    </fieldset>
		</form>
	</div>
	<div class="col-md-6" id="chat-container">
		
	</div>
</div>